@font-face {
    font-family: "iconfont";
    src: url('iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

 
.iconfont {
  font-family:"iconfont" !important;
 
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zuichun:before { content: "\e614"; }
.icon-jiahao:before { content: "\e628"; }
.icon-paizhao:before { content: "\e619"; }
.icon-gouxuankuang:before { content: "\e600"; }
.icon-yigouxuan:before { content: "\e622"; }
.icon-exit-door:before { content: "\e634"; }
.icon-jinru:before { content: "\e630"; }
.icon-shoucang:before { content: "\e642"; }
.icon-meinvrenzheng:before { content: "\e62c"; }
.icon-didian:before { content: "\e616"; }
.icon-mima:before { content: "\e639"; }
.icon-shigantiyantu:before { content: "\e609"; }
.icon-fujin:before { content: "\e601"; }
.icon-yaoyiyao:before { content: "\e60b"; }
.icon-shoucang1:before { content: "\e61d"; }
.icon-qu:before { content: "\e60e"; }
.icon-tao:before { content: "\e60f"; }
.icon-zhu:before { content: "\e610"; }
.icon-search:before { content: "\e62b"; }
.icon-denglu:before { content: "\e635"; }
.icon-tubiao:before { content: "\e647"; }
.icon-iconqianggou:before { content: "\e60c"; }
.icon-gouwuche:before { content: "\e606"; }
.icon-jiahao1:before { content: "\e617"; }
.icon-jianhao:before { content: "\e624"; }
.icon-nvren:before { content: "\e62d"; }
.icon-gengduo:before { content: "\e644"; }
.icon-gouwuche1:before { content: "\e643"; }
.icon-shezhi:before { content: "\e636"; }
.icon-fenlei:before { content: "\e62e"; }
.icon-yanzhengma:before { content: "\e63a"; }
.icon-fanhui:before { content: "\e62f"; }
.icon-jiahao2:before { content: "\e625"; }
.icon-qiandao:before { content: "\e602"; }
.icon-zhendong:before { content: "\e611"; }
.icon-mingrentang:before { content: "\e603"; }
.icon-you:before { content: "\e61e"; }
.icon-zaixiankefu:before { content: "\e61a"; }
.icon-fenlei1:before { content: "\e60a"; }
.icon-tanhao:before { content: "\e63b"; }
.icon-duigou:before { content: "\e61c"; }
.icon-huifu:before { content: "\e621"; }
.icon-icon2:before { content: "\e604"; }
.icon-bangzhu:before { content: "\e645"; }
.icon-yanzhengma1:before { content: "\e637"; }
.icon-dingdan:before { content: "\e631"; }
.icon-wo:before { content: "\e607"; }
.icon-iconfont94:before { content: "\e63e"; }
.icon-iconfont95:before { content: "\e63f"; }
.icon-shangcheng:before { content: "\e608"; }
.icon-danxuanmeixuan:before { content: "\e63d"; }
.icon-danxuanxuanzhong:before { content: "\e640"; }
.icon-zhaopian:before { content: "\e613"; }
.icon-sixin:before { content: "\e627"; }
.icon-didian1:before { content: "\e63c"; }
.icon-tiwen01:before { content: "\e60d"; }
.icon-chahao:before { content: "\e620"; }
.icon-lajixiang:before { content: "\e626"; }
.icon-fenlei2:before { content: "\e641"; }
.icon-huifu1:before { content: "\e629"; }
.icon-fatie:before { content: "\e618"; }
.icon-xitongxiaoxi:before { content: "\e62a"; }
.icon-luntan:before { content: "\e605"; }
.icon-biaoqing:before { content: "\e615"; }
.icon-jjshshalou:before { content: "\e612"; }
.icon-num_limit:before { content: "\e61b"; }
.icon-b:before { content: "\e638"; }
.icon-zhengguiicon40:before { content: "\e61f"; }
.icon-gouxuanjiaobiao:before { content: "\e623"; }
.icon-youhuiquan:before { content: "\e632"; }
.icon-chuangjianquanzi:before { content: "\e633"; }
.icon-huodong:before { content: "\e649"; }
.icon-zhuangtai:before { content: "\e648"; }
.icon-guanyuwomen:before { content: "\e646"; }
