
#iSlider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

    #iSlider-wrapper ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #iSlider-wrapper li {
        position: absolute;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

        #iSlider-wrapper li img {
            width: 100%;
            display: block;
        }

        #iSlider-wrapper li label {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: left;
            display: block;
            font-size: 0.8em;
            line-height: 1.5em;
            height: 1.5em;
            box-sizing: border-box;
            text-indent: 0.8em;
            background: #000;
            opacity: 0.7;
            color: #fff;
            left: 0;
        }


/* 圈子列表*/
.circleList {
}

    .circleList ul {
    }

    .circleList li {
        padding: 0.3em 0.2em 0.3em 0.3em;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: 1px solid #eee;
    }

        .circleList li:active {
            background-color: #f4f4f4;
        }

    .circleList img {
        width: 3.2em;
        height: 3.2em;
        border-radius: 50%;
    }

    .circleList div {
        padding: 0em 0.1em 0em 0.5em;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

    .circleList p {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        text-align: center;
        padding: 0 0.2em;
        height: 3.2em;
        -webkit-align-items: center;
        align-items: center;
    }

    .circleList h3 {
        line-height: 2em;
    }

    .circleList h6 {
        font-size: 0.7em;
        line-height: 2.5em;
    }

    .circleList a {
        text-decoration: none;
        padding: 0.5em;
        font-size: 0.7em;
        border: 1px solid;
        border-radius: 0.3em;
    }

        .circleList a:active {
            background-color: #ddd;
        }

        .circleList a.colorUseBc-head:before {
            content: "\e628";
            font-family: iconfont;
            position: relative;
            top: -3px;
        }

.li-no-border li, li.li-no-border {
    border: none !important;
}

.circleTitle {
    margin: 0.3em 0 0;
}

    .circleTitle > h2 {
        line-height: 1.5em;
        font-size: 0.8em;
        background: #f6f6f6;
        text-indent: 0.4em;
    }

#shopCharacteristic .tab_m {
    height: auto;
}

#shopCharacteristic .tx-c {
    color: #444;
    line-height: 1.6em;
}

#shopCharacteristic .ulev {
    font-size: 0.9em;
    line-height: 2.2em;
}

#circleCharacteristic {
    box-sizing: border-box;
}

    #circleCharacteristic .tab_m {
        height: auto;
    }

    #circleCharacteristic .tx-c {
        color: #444;
        line-height: 1.6em;
    }

    #circleCharacteristic .ulev {
        font-size: 0.9em;
        line-height: 2.2em;
    }

    #circleCharacteristic .icon-fujin {
        color: #8db4d3;
    }

    #circleCharacteristic .icon-meinvrenzheng {
        color: #efb481;
    }

    #circleCharacteristic .icon-mingrentang {
        color: #ef8f96;
    }

    #circleCharacteristic .icon-qiandao {
        color: #afd8ca;
    }

.icon-qiandao:before {
    font-size: 0.9em;
}

#shopCharacteristic {
    padding: 0.3em 0;
    box-sizing: border-box;
}

    #shopCharacteristic .icon-iconqianggou {
        color: #9cc9d8;
    }

    .icon-huodong, #shopCharacteristic .icon-fenlei2 {
        color: #fba865 !important;
    }

.icon-huodong {
    font-size: 1.6em !important;
    line-height: 1.8em !important;
}

.icon-qiandao {
    font-size: 1.7em !important;
    line-height: 1.6em !important;
}

#shopCharacteristic .icon-tiwen01 {
    color: #f9a5be;
    font-size: 2.2em;
    line-height: 1.4em;
}

#shopCharacteristic .icon-shigantiyantu {
    color: #f4d148;
    font-size: 2.1em;
    line-height: 1.5em;
}

#shopHot {
    margin: 0.3em 0 0;
}

    #shopHot ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        line-height: 4.5em;
        overflow: hidden;
        width: 100%;
    }

        #shopHot ul li:first-child {
            border-bottom: 1px solid #eee;
        }

            #shopHot ul li:first-child + li {
                border-bottom: 1px solid #eee;
            }

    #shopHot li {
        width: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding: 0.4em;
        box-sizing: border-box;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

        #shopHot li:active {
            background-color: #f4f4f4;
        }

        #shopHot li span {
            -webkit-box-flex: 2;
            -webkit-flex: 2;
            flex: 2;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            font-size: 1.15em;
            font-weight: bold;
            text-align: center;
            font-family: YouYuan;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            color: #777;
        }

        #shopHot li div {
            -webkit-box-flex: 0.5;
            -webkit-flex: 0.5;
            flex: 0.5;
            display: -webkit-flex;
            display: flex;
        }

            #shopHot li div:before {
                content: "";
                height: 0;
                width: 100%;
                padding-bottom: 100%;
                background: url(icon.png) no-repeat;
                background-size: 400%;
            }

        #shopHot li .xinpin:before {
            background-position-x: -3%;
            background-position-y: 70%;
        }

        #shopHot li .remai:before {
            background-position-x: 101%;
            background-position-y: 32%;
        }

        #shopHot li .baoyou:before {
            background-position-x: 0%;
            background-position-y: 32%;
        }

        #shopHot li .qingshe:before {
            background-position-x: 66%;
            background-position-y: -3%;
        }

/*商城产品分类*/
#shopType {
}

    #shopType ul {
    }

    #shopType li {
        padding: 0.4em 0 0.4em 0.3em;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: 1px solid #eee;
    }

        #shopType li:active {
            background-color: #fafafa;
        }

    #shopType var {
        width: 1.5em;
        text-align: center;
        line-height: 1.6em;
        font-size: 1.5em;
    }

    #shopType img {
        line-height: 1.6em;
        font-size: 1.5em;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
    }

    #shopType var.icon-tao {
        color: #c9c619;
    }

    #shopType var.icon-qu {
        color: #dc6985;
    }

    #shopType var.icon-zuichun {
        color: #fdc37f;
    }

    #shopType var.icon-zhendong {
        color: #f88db3;
    }

    #shopType var.icon-jjshshalou {
        color: #91c218;
    }

    #shopType var.icon-zhu {
        color: #76acaf;
    }

    #shopType div {
        padding-left: 0.5em;
        -webkit-box-flex: 5;
        -webkit-flex: 5;
        flex: 5;
    }

    #shopType p {
        width: 2.5em;
        text-align: center;
    }

    #shopType h3 {
        font-size: 0.9em;
        word-break: break-all;
        line-height: 2.2em;
    }

    #shopType h6 {
        font-size: 0.7em;
        word-break: break-all;
        line-height: 2.3em;
    }

    #shopType .iconfont {
        color: #ddd;
    }

    #shopType a {
        text-decoration: none;
        padding: 0.2em;
        font-size: 0.7em;
        border: 1px solid;
        border-radius: 0.3em;
    }

        #shopType a:before {
            content: "\e600";
            font-family: iconfont;
            position: relative;
            top: -3px;
        }

/*商城图片列表*/
.shoplist {
}

    .shoplist ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding-right: 0.25em;
    }

    .shoplist li {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        margin: 0.25em 0 0 0.25em;
    }

        .shoplist li > div {
            margin-bottom: 0.3em;
        }

            .shoplist li > div:active {
                position: relative;
                top: 0.1em;
            }

            .shoplist li > div > div img {
                width: 100%;
            }

    .shoplist h2 {
        padding: 0 0.2em 0.2em;
        font-size: 0.9em;
        word-break: break-all;
    }

    .shoplist h3 {
        color: #C60;
        padding: 0 0.2em 0.2em;
        font-size: 0.7em;
        word-break: break-all;
    }

    .shoplist p {
        padding: 0.2em;
        font-size: 0.7em;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

        .shoplist p span {
            color: #aaa;
        }

            .shoplist p span:first-child {
                color: #EB6996;
            }

        .shoplist p .icon-num_limit {
            font-size: 1.5em;
        }

.shopFilter {
}

    .shopFilter ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        border: 1px solid #eee;
        border-width: 1px 0;
        line-height: 2.2em;
        text-align: center;
    }

    .shopFilter li {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        padding: 0 0.8em;
        position: relative;
    }

        .shopFilter li.asc, .shopFilter li.desc {
            color: #EB6996;
            background: #f6f6f6;
        }

            .shopFilter li.desc:after {
                content: " ";
                border: 0.3em solid;
                border-color: transparent;
                border-top-color: #EB6996;
                position: absolute;
                right: 0.8em;
                top: 45%;
            }

            .shopFilter li.asc:after {
                content: " ";
                border: 0.3em solid;
                border-color: transparent;
                border-bottom-color: #EB6996;
                position: absolute;
                right: 0.8em;
                top: 37%;
            }

    .shopFilter .desc:after {
        content: " ";
        border: 0.3em solid;
        border-color: transparent;
        border-bottom: red;
    }

/*体验式列表*/
.experiencelist {
}

    .experiencelist ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding-right: 0.25em;
    }

    .experiencelist li {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        margin: 0.25em 0 0 0.25em;
    }

        .experiencelist li > div {
            border-radius: 0.25em;
            margin-bottom: 0.25em;
        }

            .experiencelist li > div:active {
                background-color: #f4f4f4;
            }

            .experiencelist li > div > div img {
                width: 100%;
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;
            }

    .experiencelist h2 {
        padding: 0 0.2em 0.2em;
        font-size: 0.9em;
        word-break: break-all;
    }

    .experiencelist h3 {
        font-size: 0.6em;
        color: #EB6996;
    }

    .experiencelist p {
        padding: 0.2em;
        font-size: 0.7em;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webikt-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

        .experiencelist p span {
            color: #aaa;
        }

            .experiencelist p span:first-child {
            }

                .experiencelist p span:first-child img {
                    width: 2.5em;
                    height: 2.5em;
                    border-radius: 50%;
                    vertical-align: middle;
                }

.shoplist p .icon-num_limit {
    font-size: 1.5em;
}

/*帖子列表*/
.postList {
    padding: 0.4em;
    font-size: 0.9em;
}

    .postList .title {
        line-height: 2.3em;
    }

    .postList .label {
        font-size: 0.9em;
        margin-top: 0.3em;
    }

    .postList .tag {
        font-size: 0.9em;
        padding: 0.2em 0.3em;
        color: #fff;
        border-radius: 0.2em;
    }

        .postList .tag.blue {
            background-color: #69c9ff;
        }

        .postList .tag.green {
            background-color: #90ced0;
        }

        .postList .tag.pink {
            background-color: #ff8dc3;
        }

        .postList .tag.pick {
            background-color: #ff8dc3;
        }

.circleDetailTopList {
    border-radius: 0.4em;
    padding: 0.3em;
}

    .circleDetailTopList li {
        line-height: 2em;
        border-bottom: 1px solid #eee;
    }

        .circleDetailTopList li:active {
            background-color: #f4f4f4;
        }

    .circleDetailTopList span {
        margin-right: 0.3em;
    }

    .circleDetailTopList li:last-child {
        border: none !important;
    }

.circleDetailList {
}

    .circleDetailList ul {
    }

    .circleDetailList li {
        margin-top: 0.4em;
        border-radius: 0.4em;
        padding: 1em 0.4em 0.4em;
        position: relative;
    }


        .circleDetailList li:active {
            background-color: #f4f4f4;
        }

        .circleDetailList li.tuijian:before {
            content: "荐";
            background: #90ced0;
            padding: 0.2em;
            font-size: 0.8em;
            line-height: 1em;
            color: #fff;
            position: absolute;
            top: 0;
        }

    .circleDetailList .imglist {
        margin-top: 0.4em;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

        .circleDetailList .imglist p {
            line-height: 0;
            width: 32%;
            padding-top: 32%;
            margin-left: 0.2em;
            background-repeat: no-repeat;
            background-size: 100%;
        }

            .circleDetailList .imglist p:first-child {
                margin-left: 0;
            }

    .circleDetailList .foot {
        padding-bottom: 0.3em;
        font-size: 0.9em;
        margin-top: 0.4em;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

        .circleDetailList .foot em {
            margin-left: 0.4em;
            font-style: normal;
        }

            .circleDetailList .foot em:first-child {
                margin-left: 0em;
            }

.circledetailall {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

    .circledetailall .circleType {
        background: #f6f6f6;
    }

    .circledetailall .circleList {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

.circleType li {
    font-size: 0.9em;
    text-align: center;
    border-left: 0.2em solid transparent;
    padding: 1.2em 1em;
}

.circleType .focus {
    background: #fefefe;
    border-left-color: #ffd800;
}

.hotTopics {
    margin-top: 0.3em;
    padding: 0.4em 0;
}

    .hotTopics h2 {
        text-align: center;
        line-height: 1.2em;
    }

    .hotTopics p {
        height: 0;
        padding-bottom: 70%;
        width: 100%;
        overflow: hidden;
    }

        .hotTopics p img {
            width: 100%;
        }

.circlePostItem {
    padding: 0.4em;
    margin-top: 0.4em;
}

    .circlePostItem:first-child {
        margin-top: 0;
    }

    .circlePostItem.huifu:first-child {
        margin-top: 0.4em;
    }

.huifuNum {
    padding: 0.3em 0;
    text-indent: 0.5em;
}

.people {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-top: 0.2em;
}

.circlePostItem .people.self {
    -webkit-direction: reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

    .circlePostItem .people.self .pleft {
        padding-right: 0.2em;
        text-align: right;
        width: 100%;
        box-sizing: border-box;
    }

.people .touxiang {
    width: 3em;
}

    .people .touxiang img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }

.people .divright {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 1.5em;
}

    .people .divright .pleft {
        padding-left: 0.2em;
    }

        .people .divright .pleft .name {
        }

        .people .divright .pleft .louzhu {
            background: #ffdd2d;
            font-size: 0.7em;
            padding: 0.1em;
            line-height: 1em;
        }

        .people .divright .pleft .level {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: inline-flex;
            font-size: 0.7em;
            line-height: 1em;
            color: #fff;
            background: #76d3fa;
            border-radius: 0.4em;
            padding: 0.1em 0.1em 0.1em 0;
        }

            .people .divright .pleft .level var {
                background: #fff;
                border: 1px solid #76d3fa;
                color: #76d3fa;
                border-radius: 50%;
                min-width: 1em;
                text-align: center;
            }

        .people .divright .pleft .time {
            font-size: 0.7em;
            color: #bbb;
        }

    .people .divright .pright {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: right;
    }

        .people .divright .pright .louceng {
            line-height: 1em;
            font-size: 0.7em;
            color: #bbb;
        }

.circlePostItem .article {
    margin-top: 0.3em;
}

.circlePostItem.huifu .article {
    margin-left: 3em;
}

.circlePostItem .article img {
    width: 100%;
    margin-top: 0.4em;
    display: block;
}

    .circlePostItem .article img.phiz {
        width: 2em;
        margin-top: 0;
        display: inline-block;
    }

.circlePostItem .article p {
    margin-top: 0.3em;
}

#huifu {
    padding-bottom: 2.25em;
}


.huiFuKuang {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0.1em 0.2em;
    box-sizing: border-box;
    background-color: #fafafa;
}

    .huiFuKuang .huifudiv {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        -webkit-align-items: center;
        align-items: center;
        min-height: 2.3em;
    }

        .huiFuKuang .huifudiv span {
            font-size: 1.8em;
            line-height: 1.1em;
        }

    .huiFuKuang .faceList {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

        .huiFuKuang .faceList.remove {
            display: none;
        }

    .huiFuKuang .face {
        margin-left: 0.45em;
    }

    .huiFuKuang .huifuText {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        padding: 0 0.1em;
        margin-left: 0.4em;
        line-height: 1.8em;
        max-height: 5.4em;
        min-height: 1.8em;
        overflow-y: auto;
        border: 1px solid #ccc;
    }

        .huiFuKuang .huifuText img {
            width: 4em;
            display: block;
        }

            .huiFuKuang .huifuText img.phiz {
                width: 2em;
                display: inline-block;
            }

    .huiFuKuang .submit {
        display: inline-block;
        margin-left: 0.2em;
        padding: 0.2em 0.3em;
        border-radius: 0.2em;
        font-size: 1em;
    }

        .huiFuKuang .submit:active {
            background-color: #ea568a;
        }

    .huiFuKuang ul {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        padding-top: 0.3em;
    }

        .huiFuKuang ul li {
            width: 2.4em;
            float: left;
            text-align: center;
        }

            .huiFuKuang ul li img {
                width: 2em;
            }

.createPost {
    padding: 0.3em 0.4em;
}

    .createPost .colorccc {
        color: #ccc !important;
    }

    .createPost .title {
        padding-bottom: 0.2em;
        line-height: 1.8em;
    }

    .createPost .content {
        padding: 0.2em 0;
        min-height: 6.6em;
    }

    .createPost ul.photo {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 0.3em;
    }

        .createPost ul.photo li {
            width: 4em;
            margin: 0 0.2em 0.2em 0;
        }

        .createPost ul.photo li {
            background-size: 4em;
            background-repeat: no-repeat;
            width: 4em;
            height: 4em;
        }

            .createPost ul.photo li.add {
                box-sizing: border-box;
                height: 4em;
                text-align: center;
                border: 1px dashed #333;
                color: #999;
            }

                .createPost ul.photo li.add span.icon-jiahao {
                    font-size: 2.2em;
                    line-height: 1.8em;
                }

                .createPost ul.photo li.add span.icon-paizhao {
                    font-size: 2.2em;
                    line-height: 1.9em;
                }

    .createPost .didian {
        margin-top: 1em;
    }

        .createPost .didian var {
            color: #007acc;
            margin-right: 0.2em;
        }

.productBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    background: #E3E3E3;
    box-sizing: border-box;
}

.productBottomOccupying {
    height: 2.9em;
}

.productBottom .pbleft {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    padding: 0.2em;
}

    .productBottom .pbleft span {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        font-size: 0.6em;
        line-height: 1.1em;
    }

        .productBottom .pbleft span:active {
            background-color: #ddd;
        }

        .productBottom .pbleft span b {
            display: block;
        }

            .productBottom .pbleft span b.icon-shoucang1 {
                font-size: 2.9em;
                line-height: 1em;
            }

            .productBottom .pbleft span b.icon-shoucang {
                font-size: 2.9em;
                line-height: 1em;
            }

            .productBottom .pbleft span b.icon-huifu, .productBottom .pbleft span b.icon-zaixiankefu {
                font-size: 1.1em;
                font-size: 2.6em;
                line-height: 1.1em;
            }

.productBottom .pbright {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

    .productBottom .pbright span {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        font-weight: 900;
        font-size: 1em;
        line-height: 2.9em;
        color: #f5dcd5;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

        .productBottom .pbright span.shopcar {
            background: #ff9501;
        }

            .productBottom .pbright span.shopcar:active {
                background: #ff8101;
            }

        .productBottom .pbright span.buy {
            background: #EB6996;
        }

            .productBottom .pbright span.buy:active {
                background: #db477a;
            }

.shopDetail {
}

    .shopDetail .productTitle {
        padding: 0.5em;
    }

        .shopDetail .productTitle .title {
            line-height: 1.2em;
        }

        .shopDetail .productTitle .label {
            color: #C60;
            font-size: 0.7em;
        }

        .shopDetail .productTitle .tiyan {
            text-align: right;
            padding: 0.3em;
        }

            .shopDetail .productTitle .tiyan span {
                width: 3em;
                text-align: center;
                padding: 0.3em .6em;
                border-radius: 0.3em;
            }

    .shopDetail .priceAndNum {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        line-height: 3em;
        padding: 0 0.2em;
    }

        .shopDetail .priceAndNum .price span {
            color: #EB6996;
            font-size: 1.3em;
        }

        .shopDetail .priceAndNum .price del {
            color: #888;
            font-size: 0.75em;
        }

        .shopDetail .priceAndNum .num {
            color: #aaa;
            font-size: 0.75em;
        }

        .shopDetail .priceAndNum .icon-num_limit {
            font-size: 1.3em;
        }

    .shopDetail .promise {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding: 0.5em;
        line-height: 2em;
        font-size: 0.8em;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

        .shopDetail .promise li b {
            color: #69c9ff;
        }

    .shopDetail .baoyou {
        padding: 0 0.4em;
        line-height: 2.6em;
        font-size: 0.9em;
    }

.shopDetailChildPage {
    position: fixed;
    left: 0;
    top: 200%;
    width: 100%;
    height: 80%;
    z-index: 14;
    box-sizing: border-box;
    padding: 0.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

    .shopDetailChildPage.openPage {
        -webkit-animation: shopDetailChildPage1;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation: shopDetailChildPage1;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .shopDetailChildPage.closePage {
        -webkit-animation: shopDetailChildPage2;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-fill-mode: forwards;
        animation: shopDetailChildPage2;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    .shopDetailChildPage .close {
        position: absolute;
        right: 0.3em;
        top: 0.3em;
        padding: 0.2em;
        font-size: 1.4em;
        z-index: 12;
    }

        .shopDetailChildPage .close:active {
            background-color: #ddd;
        }

    .shopDetailChildPage .goods {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

        .shopDetailChildPage .goods img {
            background: #fff;
            width: 5.5em;
            height: 5.5em;
            border: 0.3em solid #fefefe;
            border-radius: 3px;
            position: absolute;
            top: -2em;
        }

        .shopDetailChildPage .goods .goodsText {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            line-height: 1.5em;
            padding-left: 6.3em;
            min-height: 4em;
        }

            .shopDetailChildPage .goods .goodsText span {
                font-size: 1.5em;
                color: #EB6996;
                display: block;
            }

            .shopDetailChildPage .goods .goodsText var {
                font-style: normal;
                margin-left: 0.2em;
            }

    .shopDetailChildPage .model {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        padding-top: 0.2em;
        overflow-x: auto;
    }

        .shopDetailChildPage .model .guige {
            border-top: 1px dashed #ccc;
            padding-top: 0.3em;
            margin-top: 0.3em;
        }

        .shopDetailChildPage .model ul {
            text-align: center;
            padding: 0.2em 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-lines: multiple;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            font-size: 0.8em;
        }

        .shopDetailChildPage .model li {
            padding: 0.4em 0.7em;
            margin-right: 0.7em;
            border: 0.2em solid #b8b7bd;
            margin-bottom: 0.3em;
        }

            .shopDetailChildPage .model li b {
                position: absolute;
                right: -1px;
                bottom: -1px;
                display: none;
                line-height: 1em;
            }

            .shopDetailChildPage .model li.no {
                border: 0.2em dashed #D6D6D8;
                color: #CDCDCD;
                background-color: #fff;
            }

            .shopDetailChildPage .model li.guigeSelect {
                border-color: #EB6996;
                position: relative;
            }

                .shopDetailChildPage .model li.guigeSelect b {
                    display: block;
                    color: #EB6996;
                }


.model .num {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 2em;
    border-top: 1px dashed #ccc;
    padding-top: 0.3em;
    margin-top: 0.3em;
    -webikit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

    .model .num span {
    }

    .model .num div {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        border: 1px solid #ccc;
        line-height: 2.7em;
    }

    .model .num b {
        font-size: 1.5em;
        border-left: 1px solid #ccc;
        padding: 0 0.5em;
        text-align: center;
    }

        .model .num b:active {
            background-color: #efefef;
        }

    .model .num var {
        padding: 0 1.2em;
        font-style: normal;
    }

    .model .num b:first-child {
        border-right: 1px solid #ccc;
        border-left: 0px;
    }

.shopcarUl {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

    .shopcarUl li {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        font-size: 0.8em;
        line-height: 1.1em;
        padding: 1.6em 0.5em 1.6em 0.1em;
        border-bottom: 1px dashed #ccc;
    }

        .shopcarUl li .shopcarCheckbox {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            flex-direction: column;
            text-align: center;
            width: 2.2em;
        }

    .shopcarUl .shopcarImg {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 0 0.3em 0 0;
    }

    .shopcarUl li img {
        height: 5em;
        width: 5em;
    }

    .shopcarUl li .shopcarCenter {
        -webkit-font: 1;
        -webkit-flex: 1;
        flex: 1;
        padding: 0 0.2em;
        line-height: 1.4em;
    }

    .shopcarUl li .shopcarPrice {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        text-align: center;
        height: 4.8em;
        word-wrap: break-word;
    }

        .shopcarUl li .shopcarPrice var {
            color: #EB6996;
        }

        .shopcarUl li .shopcarPrice p b {
            font-size: 1.8em;
            padding: 0.3em;
            color: #aaa;
        }

            .shopcarUl li .shopcarPrice p b:active {
                color: #444;
            }

    .shopcarUl li .shopcarCenter .title {
        font-size: 0.8em;
        min-height: 2em;
    }

    .shopcarUl li .shopcarCenter .guigeText var {
        font-style: normal;
        color: #848484;
        font-size: 0.7em;
    }

    .shopcarUl li .shopcarCenter .num p {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        border: 1px solid #ccc;
        line-height: 1.7em;
        float: left;
    }

    .shopcarUl li .shopcarCenter .num b {
        font-size: 1.5em;
        border-left: 1px solid #ccc;
        padding: 0 0.2em;
        text-align: center;
    }

        .shopcarUl li .shopcarCenter .num b:active {
            background-color: #efefef;
        }

    .shopcarUl li .shopcarCenter .num var {
        padding: 0 0.8em;
        font-style: normal;
    }

    .shopcarUl li .shopcarCenter .num b:first-child {
        border-right: 1px solid #ccc;
        border-left: 0px;
    }

.shopCarBottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 2.3em;
    padding: 0.3em;
}

    .shopCarBottom .quanxuan {
        width: 3em;
    }

        .shopCarBottom .quanxuan b {
            font-size: 0.8em;
        }

        .shopCarBottom .quanxuan var {
        }

    .shopCarBottom .heji {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding-left: 0.5em;
    }

    .shopCarBottom .jiesuan {
        width: 6.5em;
    }

        .shopCarBottom .jiesuan b {
            display: block;
            border-radius: 0.2em;
            background: #a3a3a3;
            color: #fcfcfc;
            text-align: center;
        }

            .shopCarBottom .jiesuan b.eable {
                background: #EB6996;
            }

                .shopCarBottom .jiesuan b.eable:active {
                    background: #ea568a;
                }

.shopNeirong {
    padding: 0.2em;
    margin-top: 0.3em;
}

    .shopNeirong img {
        display: block !important;
        width: 100% !important;
    }

.shopHomeModel h2 {
    text-align: center;
    height: 2em;
    line-height: 2em;
    margin-top: 0.3em;
}

.shopHomeModel h3 {
}

    .shopHomeModel h3 img {
        width: 100%;
    }

.shopHomeModel h4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    width: 100%;
    font-size: 0.8em;
    color: #444;
}

    .shopHomeModel h4 .flex1 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

    .shopHomeModel h4 .flex2 {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        flex: 2;
    }

    .shopHomeModel h4 label {
        display: block;
        padding: 0.5em;
        padding-bottom: 0;
        height: 2.4em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .shopHomeModel h4 b {
        color: #555;
        font-size: 0.8em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }

.shopHomeModel p {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.shopHomeModel .p1 {
    border-bottom: 2px solid #eaeaea;
}

.shopHomeModel p img {
    border-left: 2px solid #eaeaea;
}

.shopHomeModel img:first-child {
    border-left: 0px;
}

.shopHomeModel .img1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.shopHomeModel .img2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.xiaoxilist {
}

    .xiaoxilist li {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding: 0.3em 0.5em;
    }

        .xiaoxilist li.weidu {
            font-weight: 900;
        }

        .xiaoxilist li img {
            width: 3em;
            height: 3em;
            border-radius: 50%;
        }

            .xiaoxilist li img.phiz {
                width: 2em;
                height: 2em;
                border-radius: initial;
            }

        .xiaoxilist li p {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            padding: 0.3em 0.3em 0;
            line-height: 1.2em;
            overflow: hidden;
            border-bottom: 1px solid #eee;
        }

            .xiaoxilist li p label {
                color: #aaa;
                font-size: 0.8em;
                display: block;
            }

            .xiaoxilist li p span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
                line-height:2.4em;
            }

                .xiaoxilist li p span:last-child {
             
                    font-size: 0.8em;
                    text-align: right;
                    line-height:1em;
                }

        .xiaoxilist li > span {
            color: #ccc;
            line-height: 3em;
            border-bottom: 1px solid #eee;
        }

        .xiaoxilist li:active {
            background-color: #fafafa !important;
        }


.registlogin {
    margin-top: 0.5em;
}

    .registlogin p {
        background: #fefefe;
        line-height: 3em;
        border-bottom: 1px solid #ccc;
    }

    .registlogin label {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .registlogin p:first-child {
        border-top: 1px solid #ccc;
    }

    .registlogin p b {
        text-align: center;
        width: 2em;
        font-size: 1.5em;
        color: #aaa;
    }

    .registlogin p input {
        -webkit-bottom: 1;
        -webkit-flex: 1;
        flex: 1;
        border: 0;
        font-size: 1em;
        margin-right: 0.2em;
    }

    .registlogin .yanzhengma {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

        .registlogin .yanzhengma label {
            -webkit-box-flex: 2;
            -webkit-flex: 2;
            flex: 2;
        }

        .registlogin .yanzhengma input[type=button] {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            background: #EB6996;
            color: #fff;
            margin: 0.3em;
            border-radius: 0.2em;
        }

            .registlogin .yanzhengma input[type=button].disable {
                background: #ccc !important;
            }

            .registlogin .yanzhengma input[type=button]:active {
                background-color: #ea568a;
            }


    .registlogin .xingbie {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        line-height: 3em;
    }

        .registlogin .xingbie span {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            font-size: 2em;
            text-align: center;
        }

            .registlogin .xingbie span.big {
                -webkit-box-flex: 1.6;
                -webkit-flex: 1.6;
                flex: 1.6;
            }

                .registlogin .xingbie span.big b {
                    width: auto;
                }


        .registlogin .xingbie.nan {
            color: #0099FF;
        }

            .registlogin .xingbie.nan b.icon-iconfont94 {
                display: block;
                color: #0099FF;
            }

            .registlogin .xingbie.nan b.icon-iconfont95 {
                display: none;
            }

            .registlogin .xingbie.nan span:last-child {
                color: #ccc;
            }

        .registlogin .xingbie.nv {
            color: #EB6996;
        }

            .registlogin .xingbie.nv b.icon-iconfont94 {
                display: none;
            }

            .registlogin .xingbie.nv b.icon-iconfont95 {
                display: block;
                color: #EB6996;
            }

            .registlogin .xingbie.nv span:first-child {
                color: #ccc;
            }


.yiyouzhanghao {
    text-align: center;
    font-size: 0.7em;
    margin-top: 2em;
}

    .yiyouzhanghao span {
        border: 1px solid #EB6996;
        border-radius: 0.2em;
        padding: 0.2em 0.5em;
        color: #EB6996;
    }

.meiyouzhanghao {
    padding: 0 1.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 0.7em;
    margin-top: 3em;
}

    .meiyouzhanghao span {
        border: 1px solid #EB6996;
        border-radius: 0.2em;
        padding: 0.2em 0.5em;
        color: #EB6996;
    }

.orderUl {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    flex: initial;
}

    .orderUl li {
        padding: 0.8em 0.5em;
    }

        .orderUl li .shopcarPrice {
            width: 4.8em;
            font-size: 1.2em;
        }

            .orderUl li .shopcarPrice p b {
                font-size: 1em;
                padding: 0;
            }

.orderTitle {
    padding: 0.5em 0.3em;
}

.shouhuodizhi {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: 0.3em;
    padding: 0.3em;
    line-height: 1.5em;
}

    .shouhuodizhi span {
        width: 2em;
        text-align: center;
    }

    .shouhuodizhi .divren {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

    .shouhuodizhi .di {
        margin-top: 0.3em;
        font-size: 0.8em;
    }

    .shouhuodizhi .icon-jinru {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        color: #bbb;
    }

.payway li {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    padding: 0.7em 0.3em;
}

    .payway li p {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        color: #aaa;
    }

.payway p .icon-danxuanxuanzhong {
    color: #EB6996;
}

.jieusanxiangqing li {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    padding: 0.7em 0.3em;
}

    .jieusanxiangqing li var, .shopCarBottom var {
        color: #EB6996;
    }

.orderliuyan {
    margin-top: 0.3em;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0.7em 0.3em;
}

    .orderliuyan input {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        font-size: 1em;
        padding: 0.3em;
        margin-top: -0.3em;
        margin-left: 0.5em;
    }

.shoporderlist {
}

    .shoporderlist li {
        margin-top: 0.3em;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 0.3em;
    }

        .shoporderlist li > p {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }

        .shoporderlist li div {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            padding: 0.6em 0 0.3em;
        }

            .shoporderlist li div img {
                width: 4em;
                height: 4em;
            }

            .shoporderlist li div p {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                padding-left: 0.5em;
                line-height: 1.35em;
            }

        .shoporderlist li .pingjia {
            float: right;
            background: #EB6996;
            border-radius: 0.3em;
            padding: 0 0.2em;
            color: #fff;
        }

            .shoporderlist li .pingjia:active {
                background: #ea568a;
            }

.experienceul {
}

    .experienceul li {
        padding: 0 0 0.3em;
        border-bottom: 1px dashed #ccc;
        padding-top: 0.5em;
    }

        .experienceul li div {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

            .experienceul li div b {
                font-size: 1.8em;
                margin-left: 0.5em;
                display: block;
                padding: 0.3em 0;
            }

                .experienceul li div b:active {
                    background-color: #eee;
                }

            .experienceul li div input {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                font-size: 1em;
                margin: 0.3em 0;
                padding: 0.5em 0.3em;
                box-sizing: border-box;
            }

        .experienceul li img {
            width: 100%;
        }

.goodtiyanshi {
    margin-top: 0.3em;
}

    .goodtiyanshi h2 {
        padding-bottom: 0.3em;
    }

    .goodtiyanshi img {
        width: 3em;
        height: 3em;
        margin: 0.3em;
        border-radius: 50%;
    }

.shoppingjia {
    margin-top: 0.3em;
    padding: 0.3em;
}

    .shoppingjia h2 {
        padding-bottom: 0.3em;
    }

    .shoppingjia li {
        border-bottom: 1px dashed #eee;
        padding: 0.2em;
    }

    .shoppingjia .pingjiamore {
        text-align: center;
        padding: 0.3em;
    }

        .shoppingjia .pingjiamore:active {
            background: #f4f4f4;
        }

    .shoppingjia li p:last-child {
        text-align: right;
        font-size: 0.8em;
        color: #bbb;
    }

.ChildPage {
    position: fixed;
    left: 0;
    top: 200%;
    width: 100%;
    height: 80%;
    z-index: 14;
    box-sizing: border-box;
    padding: 0.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

    .ChildPage.openPage {
        -webkit-animation: shopDetailChildPage1;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation: shopDetailChildPage1;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .ChildPage.closePage {
        -webkit-animation: shopDetailChildPage2;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-fill-mode: forwards;
        animation: shopDetailChildPage2;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    .ChildPage ul {
        padding: 0.3em;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.3em;
    }

        .ChildPage ul li {
            text-align: center;
            line-height: 2.3em;
        }

            .ChildPage ul li[data-type=event]:active {
                background: #efefef;
            }

            .ChildPage ul li span {
                display: block;
                background: #EB6996;
                margin: 0 auto;
                border-radius: 0.3em;
                color: #fff;
            }

                .ChildPage ul li span:active {
                    background-color: #ea568a;
                }

.replayChild {
    font-size: 0.8em;
}

    .replayChild li:first-child {
        margin-top: 0.6em;
    }

    .replayChild li {
        border-top: 1px solid #eee;
        margin: 0.2em 0;
    }

        .replayChild li .article {
            margin-top: 0;
        }

    .replayChild .name {
        float: left;
        font-weight: 900;
    }

.phiz {
    vertical-align: middle;
}
