/*****************************************/
/*基础header颜色*/
.bc-head {
    background-color: #EB6996;
}
/*****************************************/
/*基础body背景颜色*/
.bc-bg {
    background-color: #eaeaea;
}
/*辅助控件背景颜色*/
.sc-bg {
    background-color: #FFFFFF;
}
/*辅助控件背景颜色*/
.sc-bg-active {
    background-color: #f0f0f0;
}
/*警告背景色*/
.sc-bg-alert {
    background-color: #F16412;
}
/*****************************************/
/*基础字体颜色*/
.bc-text {
    color: black;
}
/*基础标题字体颜色*/
.bc-text-head {
    color: white;
}
/*辅助字体颜色*/
.sc-text {
    color: #888;
}
/*辅助字体颜色*/
.sc-text-active {
    color: #EB6996 !important;
}
/*辅助字体颜色*/
.sc-text-hint {
    color: #E3E3E3;
}
/*辅助字体颜色*/
.sc-text-warn {
    color: #FC7800;
}
/*辅助字体颜色*/
.sc-text-tab {
    color: #636363;
}
/*****************************************/
/*基础边框颜色*/
.bc-border {
    border-color: #BABABA;
}
/*辅助边框颜色*/
.sc-border {
    border-color: #FFFFFF;
}
.sc-border-tab {
    border-color: #EB6996;
}
/*****************************************/
/*基础按钮颜色*/
.bc-btn {
    background-color: #EE598C;
}
/*辅助按钮颜色*/
.sc-btn {
    background-color: #FA8088;
}





.ub {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    position: relative;
}

 
 

.ub-ac {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-content: center;
}

.ub-ae {
    -webkit-box-align: end;
    -webkit-align-items: end;
    align-content: end;
}

.ub-pc {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.ub-pe {
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    justify-content: end;
}

.ub-pj {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content:space-between;
}

.ub-ver {
    -webkit-box-orient: vertical;
    -webkit-flex-direction:column;
    flex-direction:column;
}

.ub-f1 {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex:1;
    flex:1;
}

.ub-f2 {
    position: relative;
    -webkit-box-flex: 2;
    -webkit-flex:2;
    flex:2;
}

.ub-f3 {
    position: relative;
    -webkit-box-flex: 3;
    -webkit-flex:3;
    flex:3;
}

.ub-f4 {
    position: relative;
    -webkit-box-flex: 4;
    -webkit-flex:4;
    flex:4;
}

 
 

